# Ignore these files/directories
.bash_logout
.bashrc
.bash_history
.profile
.project
.includepath
.viminfo
.gitconfig
.mysql_history
.Xauthority
.selected_editor
.cache/
.idea/
.ssh/
.forever/
.npm/
.lesshst
.vim/
.vimrc
.Trash-*
lost+found
.config/
.cpanm/
.perlbrew/
.wget-hsts
.wgetrc
perl5/
var/
__pycache__/


# 'server' dir
server/logs/
server/node_modules/

# 'annotations' dir
annotations/*
!annotations/README.md
!annotations/wserver

# 'data' dir
data/*
data/wserver/*
!data/README.md
!data/wserver

# 'cache' dir
cache/*
cache/wserver/*
!cache/README.md
!cache/wserver

# 'features' dir
features/*
!features/README.md

# 'db' dir
db/*
!db/README.md
!db/scripts

# RStudio project
.Rproj.user

# modules
modules

# text editor backup files
*~
