# Ignore these files
CHANGE.log
TODO.txt
.project
.includepath
.viminfo
.gitconfig
.bash_logout
.bashrc
.profile
.cache/
.idea/
.ssh/

# Another files
code/db/*

# Excepts
!code/db/.gitignore
!code/db/BLOSUM62
!code/db/README.txt
!code/db/another_fire_mess_web
!code/db/discardEmptySeqsPDB.pl
