<div class="row clearfix" data-ng-controller="AboutController">
    <div class="col-md-12 column">
        <h2>About us</h2>
        <p>
            This <b>APPRIS</b> website is powered by the
            <a class="content_external_ref" target="_blank"
                title="Structural Computational Biology Group"
                href="https://www.cnio.es/en/research-innovation/scientific-programmes/structural-biology-programme/">
                Structural Computational Biology Group</a> at</p>

        <div class="media">
            <a class="pull-left" href="{{linkCNIO}}" target="_blank">
                <img class="media-object" ng-src="{{logoCNIO}}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">CNIO</h4>
                Centro Nacional de Investigaciones Oncologicas
            </div>
        </div>

        <div class="media">
            <a class="pull-left" href="{{linkINB}}" target="_blank">
                <img class="media-object" ng-src="{{logoINB}}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">INB</h4>
                Instituto Nacional de Bioinformatica
            </div>
        </div>
        <br>
        <p>APPRIS has been developed within the <a class="" href="{{linkGENCODE}}" target="_blank">GENCODE
            consortium</a> to annotate alternative gene products with reliable biologically relevant data. GENCODE provides high-accuracy manual annotations of protein-coding loci and alternative variants as part of the <a class="" href="{{linkENCODE}}" target="_blank">ENCODE project</a>. The GENCODE annotations are gradually replacing and augmenting the <a class="" href="{{linkEnsembl}}" target="_blank">Ensembl</a>
            automatic annotations.
        </p>
    </div>
</div>
