<div data-ng-controller="DownloadsController">
<h2>Downloads</h2>
    <p>The annotations of the following species are available.</p>
Filter by Species:
<select data-ng-model="elemSpecie">
    <option value="" selected>All</option>
    <option data-ng-repeat="specie in species" value="{{specie}}" selected>{{specie}}</option>
</select>
Assembly Version:
<select data-ng-model="elemAssembly">
    <option value="" selected>All</option>
    <option data-ng-repeat="assembly in assemblies" value="{{assembly}}" selected>{{assembly}}</option>
</select>
Gene Dataset:
<select data-ng-model="elemDataset">
    <option value="" selected>All</option>
    <option data-ng-repeat="dataset in datasets" value="{{dataset}}" selected>{{dataset}}</option>
</select>
<br><br>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
        <tr>
            <th data-ng-repeat="head in headers">{{head.label}}</th>
        </tr>
        <tr
                dir-paginate="download in downloads | filter: {species:elemSpecie} | filter: {assembly:elemAssembly} | filter: {dataset:elemDataset} | itemsPerPage: pageSize" current-page="currentPage">
            <td data-ng-repeat="head in headers">
                <span data-ng-if="download[head.id]">{{download[head.id]}}</span>
                <span
                        data-ng-repeat="datformat in download.datafiles[head.id] track by $index"
                        data-ng-if="download.datafiles[head.id]">
                    <a
                        ng-href="{{baseUrlDownload}}/{{download.path}}/{{head.file}}.{{datformat | suffixDatafiles}}"
                        target="_blank">
                    {{datformat}}</a>
                </span>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<div ng-controller="pagDownloadsController">
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
    </div>
</div>
<p><strong>All annotation files and mysqldump files also be downloaded from <a data-ng-href="{{urlDOWNLOAD}}" target="_blank">our HTTP server</a></strong>.<br>The following <a data-ng-href="{{urlREADME}}" target="_blank">README file</a> describes more in detail the annotation files.</p>

<license></license>

<hr>

<help-flags></help-flags>

<h4>APPRIS Scores</h4>
<p>APPRIS detects principal isoforms based on a range of methods, the scores they report can be downloaded.
</p>
<h4>Method annotations</h4>
<p>Here we show tracks as genome coordinate positions (in compressed GTF format) of the APPRIS methods.
</p>


</div>