<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron">
            <h1><strong>{APPRIS}</strong></h1>
            <h2>Annotating principal splice isoforms</h2>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <tools-tpl></tools-tpl>
    </div>
</div>
<hr />
<div class="section-tout">
    <p class="lead text-center">APPRIS Database currently houses annotations for <a
            href="#/species">vertebrate genomes »</a></p>
    <div class="row row-centered">
        <!--<div class="col-md-1"></div>-->
        <div class="col-md-2"
             data-ng-repeat="specie in species | showHousesGenomes | filter:{group:'!invertebrates'} | orderObjectBy:'order' ">
            <!--<a class="media-left" data-ng-href="/#/species">-->
            <a class="media-left">
                <img class="img-thumbnail" data-ng-src="img/{{specie.common | lowercase}}_logo.jpg" style="width: 65px" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{specie.common}}</h4>
                <ul class="list-unstyled">
                    <li data-ng-repeat="assembly in specie.assemblies | showQueryableAssemblies"><strong>Assemblies:</strong> {{assembly.name}}</em></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="lead text-center">APPRIS Database currently houses annotations for <a
            href="#/species">invertebrate genomes »</a></p>
    <div class="row row-centered">
        <div class="col-md-1"></div>
        <div class="col-md-5"
             data-ng-repeat="specie in species | showHousesGenomes | filter:{group:'invertebrates'} | orderObjectBy:'order' ">
            <!--<a class="media-left" data-ng-href="/#/species">-->
            <a class="media-left">
                <img class="img-thumbnail" data-ng-src="img/{{specie.common | lowercase}}_logo.jpg" style="width: 65px" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{specie.common}}</h4>
                <ul class="list-unstyled">
                    <li data-ng-repeat="assembly in specie.assemblies | showQueryableAssemblies"><strong>Assemblies:</strong> {{assembly.name}}</em></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
        <h2>APPRIS</h2>
        <p>
            The <strong>APPRIS WebServer</strong> [1] executes a range of computational methods to annotate splice variants for individual genes. As part of its annotation process APPRIS selects a single CDS as the principal isoform for each gene.<br>The <strong>APPRIS Database</strong> [2] houses protein structure, function and conservation information
            for splice variants in five genomes.
        </p>
        <p>
            <a href="#/help/database">View details »</a>
        </p>
    </div>
    <div class="col-md-4 column">
    <h2>Publications</h2>
    <p>If you find APPRIS useful, please consider citing our latest publication:</p>
    <address>
    [1] <strong>APPRIS 2017: principal isoforms for multiple gene sets.</strong><br/>
        Rodriguez JM, Rodriguez-Rivas J, Domenico TD, Vázquez J, Valencia A, and Tress ML.<br />
        Nucleic Acids Res. Database issue; 2017 Oct 23.<br/>
        DOI:<a href="https://doi.org/10.1093/nar/gkx997" target="_blank">10.1093/nar/gkx997</a>
    </address>
    <p>
    <a href="#/publications">View more publications »</a>
    </p>
    </div>
    <div class="col-md-4 column">
        <h2>API</h2>
        <p>
            The APPRIS Database and APPRIS WebServer can be accessed through a range of RESTful web services. These services can retrieve both gene/transcript information and the results of the individual APPRIS modules.
        </p>
        <p>
            <a href="#/help/services">View details »</a>
        </p>
    </div>
</div>
<hr />
<div class="row clearfix">
    <h2 class="text-center">NEWS</h2>
    <div class="row clearfix ng-scope">
        <div class="column col-md-offset-3 col-md-2 text-center">
            <a class="btn btn-default btn-sm" href="https://twitter.com/appris_cnio"
               style="margin: 15px;" target="_blank">
                <span class="icon-large icon-twitter"
                      style="margin-right:5px; vertical-align:middle;">
                </span>
                Twitter
            </a>
        </div>
        <div class="column col-md-2 text-center">
            <a class="btn btn-default btn-sm" href="https://appris-cnio.blogspot.com"
               style="margin: 15px;" target="_blank">
                <span class="icon-large icon-blogger"
                      style="margin-right:5px; vertical-align:middle;">
                </span>
                Blogger
            </a>
        </div>
        <div class="column col-md-2 text-center">
            <a class="btn btn-default btn-sm" href="https://github.com/appris/appris"
               style="margin: 15px;" target="_blank">
                <span class="icon-large icon-github"
                      style="margin-right:5px; vertical-align:middle;">
                </span>
                GitHub
            </a>
        </div>
    </div>
</div>
