<div class="row clearfix">
    <div class="col-md-3 column">
        <menu-impt-tpl></menu-impt-tpl>
    </div>
    <div class="col-md-9 column">

        <div data-ng-if="impt == 'intro'">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>List of Important Alternative Isoforms</h2></div>
                <div class="panel-body">
                    <p><strong>{APPRIS}</strong> is a system that deploys a range of computational methods to provide annotations of alternative splice isoforms and identify principal isoforms for vertebrate species.
                    </p>

                </div>
            </div>
        </div>

        <div data-ng-if="impt == 'tissuespecific'">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Tissue Specific</h2></div>
                <div class="panel-body">
                    <tissue-specific></tissue-specific>
                </div>
            </div>
        </div>

    </div>
</div>