<h2>Related Publications</h2>
<address>
    <strong>APPRIS WebServer and WebServices.</strong><br/>
    Rodriguez JM, Carro A, Valencia A, and Tress ML.<br />
    Nucleic Acids Res. 2015 May 18.<br/>
    PUBMED:<a href="http://ukpmc.ac.uk/abstract/MED/25990727" target="_blank">25990727</a> DOI:<a
        href="http://dx.doi.org/10.1093/nar/gkv512" target="_blank">10.1093/nar/gkv512</a>
</address>
<address>
    <strong>Most highly expressed protein-coding genes have a single dominant isoform.</strong><br/>
    Ezkurdia I, Rodriguez JM, Carrillo-de Santa Pau E, Vázquez J, Valencia A, and Tress ML.<br />
    J Proteome Res. 2015 Apr 3;14(4):1880-7.<br/>
    PUBMED:<a href="http://ukpmc.ac.uk/abstract/MED/25732134" target="_blank">25732134</a> DOI:<a
        href="http://dx.doi.org/10.1021/pr501286b" target="_blank">10.1021/pr501286b</a>
</address>
<address>
    <strong>APPRIS: annotation of principal and alternative splice isoforms.</strong><br/>
    Rodriguez JM, Maietta P, Ezkurdia I, Pietrelli A, Wesselink JJ, Lopez G, Valencia A and Tress ML.<br />
    Nucleic acids research 2013;41;Database issue;D110-7<br/>
    PUBMED:<a href="http://ukpmc.ac.uk/abstract/MED/23161672" target="_blank">23161672</a> PMC:<a href="http://ukpmc.ac.uk/articles/PMC3531113" target="_blank">3531113</a> DOI:<a href="http://dx.doi.org/10.1093/nar/gks1058" target="_blank">10.1093/nar/gks1058</a>
</address>
<address>
    <strong>firestar--advances in the prediction of functionally important residues.</strong><br/>
    Lopez G, Maietta P, Rodriguez JM, Valencia A, Tress ML.<br />
    Nucleic Acids Res. 2011. 39:W235-41<br/>
    PUBMED:<a href="http://ukpmc.ac.uk/abstract/MED/21672959" target="_blank">21672959</a> PMC:<a href="http://ukpmc.ac.uk/articles/PMC3125799" target="_blank">PMC3125799</a> DOI:<a href="http://dx.doi.org/10.1093/nar/gkr437" target="_blank">10.1093/nar/gkr437</a>
</address>
<address>
    <strong>Determination and validation of principal gene products.</strong><br/>
    Tress ML, Wesselink JJ, Frankish A, Lopez G, Goldman N, Loytynoja A, Massingham T, Pardi F, Whelan S, Harrow J, Valencia A.<br />
    Bioinformatics. 2008. 24:11-17.<br/>
    PUBMED:<a href="http://ukpmc.ac.uk/abstract/MED/18006548" target="_blank">18006548</a> PMC:<a href="http://ukpmc.ac.uk/articles/PMC2734078" target="_blank">PMC2734078</a>
</address>