<h2>How to cite us</h2>
<p>If you find APPRIS useful, please consider citing our latest publication:</p>
<address>
    <strong>APPRIS: selecting functionally important isoforms.</strong><br/>
    Rodriguez JM, Pozo F, Cerdán-Vélez D, Di Domenico T, Vázquez J, Tress ML.<br />
    Nucleic Acids Res. 2022 50:D54-D59.<br/>
    DOI:<a href="https://doi.org/10.1093/nar/gkab1058" target="_blank">10.1093/nar/gkab1058</a>
    </address>
<h4>More Publications</h4>
<address>
    <strong>APPRIS 2017: principal isoforms for multiple gene sets.</strong><br/>
    Rodriguez JM, Rodriguez-Rivas J, Domenico TD, Vázquez J, Valencia A, and Tress ML.<br />
    Nucleic Acids Res. Database issue; 2017 Oct 23.<br/>
    DOI:<a href="https://doi.org/10.1093/nar/gkx997" target="_blank">10.1093/nar/gkx997</a>
</address>
<address>
    <strong>APPRIS WebServer and WebServices.</strong><br/>
    Rodriguez JM, Carro A, Valencia A, and Tress ML.<br />
    Nucleic Acids Res. 2015 May 18.<br/>
    PUBMED:<a href="https://pubmed.ncbi.nlm.nih.gov/25990727/" target="_blank">25990727</a>
    DOI:<a href="https://doi.org/10.1093/nar/gkv512" target="_blank">10.1093/nar/gkv512</a>
</address>
<address>
    <strong>APPRIS: annotation of principal and alternative splice isoforms.</strong><br/>
    Rodriguez JM, Maietta P, Ezkurdia I, Pietrelli A, Wesselink JJ, Lopez G, Valencia A and Tress ML.<br />
    Nucleic acids research 2013;41;Database issue;D110-7<br/>
    PUBMED:<a href="https://pubmed.ncbi.nlm.nih.gov/23161672/" target="_blank">23161672</a>
    PMC:<a href="https://europepmc.org/article/PMC/3531113" target="_blank">3531113</a>
    DOI:<a href="https://doi.org/10.1093/nar/gks1058" target="_blank">10.1093/nar/gks1058</a>
</address>
<h4>Related Publications</h4>
<address>
    <strong>TRIFID: Assessing the functional relevance of splice isoforms.</strong><br/>
    Pozo F, Martinez-Gomez L, Walsh TA, Rodriguez JM, Di Domenico T, Abascal F, Vazquez J and Tress ML.<br />
    NAR Genom Bioinform. 2021 3:lqab044.<br/>
    DOI:<a href="https://doi.org/10.1093/nargab/lqab044"
           target="_blank">10.1093/nargab/lqab044</a>
</address>
<address>
    <strong>The clinical importance of tandem exon duplication-derived substitutions.</strong><br/>
    Martinez Gomez L, Pozo F, Walsh TA, Abascal F and Tress ML.<br />
    Nucleic Acids Res. 2021 49:8232-8246.<br/>
    DOI:<a href="https://doi.org/10.1093/nar/gkab623"
           target="_blank">10.1093/nar/gkab623</a>
</address>
<address>
    <strong>An analysis of tissue-specific alternative splicing at the protein level.</strong><br/>
    Rodriguez JM, Pozo F, di Domenico T, Vazquez J and Tress ML.<br />
    PLoS Comput Biol. 2020 16:e1008287.<br/>
    DOI:<a href="https://doi.org/10.1371/journal.pcbi.1008287"
           target="_blank">10.1371/journal.pcbi.1008287</a>
</address>
<address>
    <strong>Alternative Splicing May Not Be the Key to Proteome Complexity.</strong><br/>
    Tress ML, Abascal F, Valencia A.<br />
    Trends Biochem Sci. 2017 Feb;42(2):98-110.<br/>
    DOI:<a href="https://doi.org/10.1016/j.tibs.2016.08.008"
           target="_blank">10.1016/j.tibs.2016.08.008</a>
</address>
<address>
    <strong>Most Alternative Isoforms Are Not Functionally Important.</strong><br/>
    Tress ML, Abascal F, Valencia A.<br />
    Trends Biochem Sci. 2017 Jun;42(6):408-410.<br/>
    DOI:<a href="https://doi.org/10.1016/j.tibs.2017.04.002"
           target="_blank">10.1016/j.tibs.2017.04.002</a>
</address>
<address>
    <strong>Alternatively Spliced Homologous Exons Have Ancient Origins and Are Highly Expressed at the Protein Level.</strong><br/>
    Abascal F, Ezkurdia I, Rodriguez-Rivas J, Rodriguez JM, del Pozo A, Vázquez J, Valencia A, Tress ML.<br />
    PLoS Comput Biol. 2015 Jun 10;11(6):e1004325.<br/>
    PUBMED:<a href="https://pubmed.ncbi.nlm.nih.gov/26061177/" target="_blank">26061177</a>
    DOI:<a href="https://doi.org/10.1371/journal.pcbi.1004325"
           target="_blank">10.1371/journal.pcbi.1004325</a>
</address>
<address>
    <strong>Most highly expressed protein-coding genes have a single dominant isoform.</strong><br/>
    Ezkurdia I, Rodriguez JM, Carrillo-de Santa Pau E, Vázquez J, Valencia A, and Tress ML.<br />
    J Proteome Res. 2015 Apr 3;14(4):1880-7.<br/>
    PUBMED:<a href="https://pubmed.ncbi.nlm.nih.gov/25732134/" target="_blank">25732134</a>
    DOI:<a href="https://doi.org/10.1021/pr501286b" target="_blank">10.1021/pr501286b</a>
</address>
<address>
    <strong>firestar--advances in the prediction of functionally important residues.</strong><br/>
    Lopez G, Maietta P, Rodriguez JM, Valencia A, Tress ML.<br />
    Nucleic Acids Res. 2011. 39:W235-41<br/>
    PUBMED:<a href="https://pubmed.ncbi.nlm.nih.gov/21672959/" target="_blank">21672959</a>
    PMC:<a href="https://europepmc.org/article/PMC/3125799" target="_blank">PMC3125799</a>
    DOI:<a href="https://doi.org/10.1093/nar/gkr437" target="_blank">10.1093/nar/gkr437</a>
</address>
<address>
    <strong>Determination and validation of principal gene products.</strong><br/>
    Tress ML, Wesselink JJ, Frankish A, Lopez G, Goldman N, Loytynoja A, Massingham T, Pardi F, Whelan S, Harrow J, Valencia A.<br />
    Bioinformatics. 2008. 24:11-17.<br/>
    PUBMED:<a href="https://pubmed.ncbi.nlm.nih.gov/18006548/" target="_blank">18006548</a>
    PMC:<a href="https://europepmc.org/article/PMC/2734078" target="_blank">PMC2734078</a>
</address>
