<h2>Advanced Searching</h2>
<p>The advanced search allows you to build structured queries to search for issues. You can specify criteria
    that cannot be defined in the simple search (panel at top, right).
</p>
<seeker-info-gene-tpl></seeker-info-gene-tpl>
<seeker-info-inputs-tpl></seeker-info-inputs-tpl>

<form name="seekerAdvancedForm" role="form" class="form-horizontal" data-ng-submit="runJob(seekerAdvancedForm)" novalidate>

    <div class="control-group runner-input">
        <label>1: Gene Name / ID</label>
        <span class="glyphicon glyphicon-info-sign runner-info pointer" aria-hidden="true" data-toggle="modal"
              data-target="#infoGene"></span>
        <div class="input-group-addon">
            <input type="text" class="form-control" data-ng-model="seekerAdvancedForm.gene"
                   placeholder="e.g. TRMT2A or ENSG00000099904 or RNF215 or FBgn0052693 or rpl-22">

        </div>
        <span class="help-block has-error" data-ng-show="genInvalid">
            <label class="control-label">gene name/id are required</label>
        </span>
    </div>

    <hr>

    <div class="control-group runner-input">
        <label>2: Optional queries</label>
        <span class="glyphicon glyphicon-info-sign runner-info pointer" aria-hidden="true" data-toggle="modal"
              data-target="#infoInputs"></span>
        <div class="input-group-addon" style="text-align: left;">
            <div class="form-inline">
                <select class="form-control"  data-ng-model="seekerAdvancedForm.species" data-ng-options="specie_val.scientific + ' (' + specie_val.common + ')' group by specie_val.group for ( specie_id, specie_val ) in species | showHousesGenomes | orderObjectBy:'order' ">
                    <option value="" selected>-- List of species --</option>
                </select>
                <br/><br/>
                <select class="form-control"  data-ng-model="seekerAdvancedForm.dataset" data-ng-options="dataset.source.label for dataset in seekerAdvancedForm.species.assemblies | getDatasets">
                    <option value="" selected>-- Gene dataset version for given species --</option>
                </select>
            </div>
        </div>
        <span class="help-block has-error" data-ng-show="dupInvalid">
            <label class="control-label">Input are duplicated. Choose only one type of input</label>
        </span>
        <span class="help-block has-error" data-ng-show="inpInvalid">
            <label class="control-label">One type of input is required.</label>
        </span>
    </div>

    <hr>

    <div class="form-actions runner-input">
        <button type="submit" class="btn btn-primary" ng-disabled="submitted">Search</button>
        &nbsp;<a data-ng-click="exSeekerController('gene_name_1')">Gene name1 e.g.</a>&nbsp;|
        &nbsp;<a data-ng-click="exSeekerController('gene_name_2')">Gene name2 e.g.</a>&nbsp;|
        &nbsp;<a data-ng-click="exSeekerController('gene_id_1')">Gene id1 e.g.</a>&nbsp;|
        &nbsp;<a data-ng-click="exSeekerController('gene_id_2')">Gene id2 e.g.</a>&nbsp;|
        &nbsp;<a data-ng-click="exSeekerController('gene_id_3')">Gene id3 e.g.</a>&nbsp;|
        &nbsp;<a data-ng-click="exSeekerController('clear')">Clear</a>
                <span class="help-block has-error" data-ng-show="formInvalid">
                    <label class="control-label">Invalid submission</label>
                </span>
    </div>
</form>