<h2>Search Summary</h2>
<div>
    <ul>
        <li data-ng-repeat="seekerRst in seekerResult"><h4>{{seekerRst.species}}</h4>
            <ul>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <th>Source</th>
                            <th>Gene Entry</th>
                            <th>Gene Name</th>
                            <!--<th>Ensembl Gene Id</th>-->
                            <!--<th>RefSeq Gene Id</th>-->
                            <!--<th>UniProt Gene Id</th>-->
                            <th>Assembly</th>
                        </tr>
                        <tr
                                data-ng-repeat="queryRst in seekerRst.match | filter:{namespace:'Gene_Id'}" data-ng-if="queryRst.namespace == 'Gene_Id'">
                            <td>{{queryRst.source.label}}</td>
                            <td><a
                                    data-ng-href="#/database/id/{{queryRst.species}}/{{queryRst.id}}?as={{queryRst.assembly.id}}&sc={{queryRst.source.name}}&ds={{queryRst.dataset}}">{{queryRst.id | limitTo:limitString}}{{queryRst.id.length > limitString ? '...' : ''}}</a></td>
                            <!--<td>{{queryRst.dblink.External_Id     | limitTo:limitString}}{{queryRst.dblink.External_Id.length > limitString ? '...' : ''}}</td>-->
                            <!--<td>{{queryRst.dblink.Ensembl_Gene_Id | limitTo:limitString}}{{queryRst.dblink.Ensembl_Gene_Id.length > limitString ? '...' : ''}}</td>-->
                            <!--<td>{{queryRst.dblink.Refseq_Gene_Id  | limitTo:limitString}}{{queryRst.dblink.Refseq_Gene_Id.length > limitString ? '...' : ''}}</td>-->
                            <!--<td>{{queryRst.dblink.Uniprot_Gene_Id | limitTo:limitString}}{{queryRst.dblink.Uniprot_Gene_Id.length > limitString ? '...' : ''}}</td>-->
                            <td>{{queryRst.assembly.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ul>
        </li>
    </ul>
</div>