<div>
    <p>In the following <strong><a data-ng-href="{{serverConf.hostWS}}/functional_isoforms" target="_blank">link</a></strong> you can see the list of important isoforms</p>

    <p>In the study <strong>"An analysis of tissue-specific alternative splicing at the protein level"</strong> (<a href="" target="_blank">Rodriguez et al.</a>), 
        we investigated the evidence for tissue-specific splicing among those splice isoforms detected in a large-scale proteomics analysis.
        Although the data supporting alternative splicing is limited at the protein level, clear patterns emerged among the small numbers of 
        alternative splice events that we could detect in the proteomics data.</p>

    <p>More than a third of these events were tissue-specific and most were ancient: over 95% of alternative splice events that were tissue-specific in both proteomics and 
        RNAseq analyses evolved prior to the ancestors of lobe-finned fish, at least 400 million years ago.</p>
        
    <p>Tissue-specific alternative protein forms in the proteomics analysis were particularly abundant in nervous and muscle tissues and their genes had roles related to the 
        cytoskeleton and either the structure of muscle fibres or cell-cell connections. This suggests that tissue-specific alternative splicing may have played a role in the development 
        of the vertebrate brain and heart.</p>

    <p>However, our results may not be extrapolable to the whole genome; three in four alternative exons in the human gene set arose in the primate lineage.</p>
</div>