@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";

* {
    font-family: 'Roboto';
    font-size: .87rem;
}
body {
    background: #fafafa;
    font-size: .97rem;
    margin: 1.5em;
}
