<div class="panel panel-info panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Server Trace Log</h3>
    </div>
    <div class="panel-body">
        <pre>Unexpected Error Occurred:</pre>
        <p>Fixing problems with the server pages is usually as simple as clearing the browser’s cache. Clear cache helps to fix pages that freeze or don't finish loading, and outdated pages with old annotations.</p>
        <p>If the problem persistent, Please, contact with <a href="#about">administrators</a></p>
    </div>
</div>