<ul class="nav nav-pills nav-stacked">
    <li role="presentation"
        data-ng-class="{ active: isActive('/help/intro')}"><a href="#help/intro">Help & Docs</a></li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/database')}"><a href="#help/database">The APPRIS
        Database</a></li>
    <ul class="subnav subnav-pills" style="font-size: small">
        <li role="presentation"
            data-ng-class="{ active: isActive('/help')}"><a href="#help/database/report">Report view, Visualising
            the annotations</a></li>
    </ul>
    <li role="presentation" data-ng-class="{ active: isActive('/help/server')}"><a href="#help/server">The APPRIS WebServer</a>
        <ul class="subnav subnav-pills" style="font-size: small">
            <li role="presentation"
                data-ng-class="{ active: isActive('/help/server/queries')}"><a
                    href="#help/server/queries">Queries, What do you need to start</a></li>
            <li role="presentation"
                data-ng-class="{ active: isActive('/help')}"><a href="#help/server/report">Report view, Visualising
                the predictions</a></li>
        </ul>
    </li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/services')}"><a
            href="#help/services">The APPRIS WebServices</a>
    </li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/species')}"><a href="#help/species">Available
        Species</a>
    </li>
</ul>