<ul class="nav nav-pills nav-stacked">
    <li role="presentation"
        data-ng-class="{ active: isActive('/help/intro')}"><a href="#help/intro">Help & Docs</a></li>

    <li role="presentation" data-ng-class="{ active: isActive('/help/database')}"><a href="#help/database">The APPRIS
        Database</a>
        <ul class="subnav subnav-pills" style="font-size: small">
            <li role="presentation"
                data-ng-class="{ active: isActive('/help/database/query')}"><a href="#help/database/query">Query, What do you need
                to start</a></li>
            <li role="presentation"
                data-ng-class="{ active: isActive('/help/database/seeker')}"><a href="#help/database/seeker">Seeker view,
                Visualising
                the searches</a></li>
            <li role="presentation"
                data-ng-class="{ active: isActive('/help/database/report')}"><a href="#help/database/report">Report view,
                Visualising the
                annotations</a></li>
        </ul>
    </li>

    <li role="presentation" data-ng-class="{ active: isActive('/help/server')}"><a href="#help/server">The APPRIS WebServer</a>
        <ul class="subnav subnav-pills" style="font-size: small">
            <li role="presentation"
                data-ng-class="{ active: isActive('/help/server/queries')}"><a
                    href="#help/server/queries">Queries, What do you need to start</a></li>
            <li role="presentation"
                data-ng-class="{ active: isActive('/help')}"><a href="#help/server/status">Status view, Visualising
                the status of your job</a></li>
            <li role="presentation"
                data-ng-class="{ active: isActive('/help')}"><a href="#help/server/report">Report view, Visualising
                the predictions</a></li>
        </ul>
    </li>

    <li role="presentation" data-ng-class="{ active: isActive('/help/services')}"><a
            href="#help/services">The APPRIS WebServices</a>
    </li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/methods')}"><a href="#help/methods">The APPRIS
        Methods</a>
        <ul class="subnav subnav-pills" style="font-size: small">
            <li role="presentation"
                data-ng-class="{ active: isActive('/help/methods/trifid')}"><a
                    href="#help/methods/trifid">TRIFID: Assessing the functional relevance of splice isoforms</a></li>
        </ul>
    </li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/scores')}"><a href="#help/scores">The APPRIS
        Scores</a></li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/importantIsoforms')}"><a href="#help/importantIsoforms">Important 
        Isoforms</a></li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/apprisMane')}"><a href="#help/apprisMane">APPRIS principal 
        isoforms and MANE Select transcripts</a></li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/docker')}"><a
            href="#help/docker">Docker</a>
    </li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/species')}"><a href="#help/species">Available
        Species and Gene sets</a>
    </li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/previous')}"><a href="#help/previous">Previous
        versions</a>
    </li>
    <li role="presentation" data-ng-class="{ active: isActive('/help/changelogs')}"><a href="#help/changelogs">Change
        logs</a>
    </li>
</ul>