<div data-ng-controller="NavTopController">
    <nav class="navbar navbar-default navbar-appris navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#appris-navbar-top">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{serverConf.name}}
            <small style="font-size: 60%">{{serverConf.version}}</small></a>
    </div>

    <div class="collapse navbar-collapse" id="appris-navbar-top">
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown is-open="status.isopen">
                <a href="#/tools" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    Tools <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="#/seeker">Database</a></li>
                    <li><a ng-href="#/server">WebServer</a></li>
                    <li><a ng-href="{{serverConf.hostWS}}/apidoc/">WebServices</a></li>
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li class="divider"></li>-->
                </ul>
            </li>
            <li>
                <a href="#/downloads">Downloads</a>
            </li>
            <li class="dropdown" dropdown is-open="status.isopen">
                <a class="dropdown-toggle btn" href="https://apprisws.bioinfo.cnio.es/functional_isoforms/" dropdown-toggle ng-disabled="disabled">Important Isoforms<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="{{serverConf.hostWS}}/functional_isoforms/tissue_specific_alternative_splicing/">Tissue-Specific Alternative Splicing</a></li>
                    <li><a ng-href="{{serverConf.hostWS}}/functional_isoforms/tandem_exon_derived_substitutions/">Tandem Exon Derived Substitutions</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown is-open="status.isopen">
                <a class="dropdown-toggle btn" href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/" dropdown-toggle ng-disabled="disabled">APPRIS/MANE matches<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode19/">Gencode 19</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode40/">Gencode 40</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode41/">Gencode 41</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode42/">Gencode 42</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode43/">Gencode 43</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode44/">Gencode 44</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode45/">Gencode 45</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/gencode46/">Gencode 46</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/refseq105/">RefSeq 105</a></li>
                   <li><a href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/refseq110/">RefSeq 110</a></li>                   
                </ul>
            </li>
            <li>
                <a href="#/help/intro">Help & Docs</a>
            </li>
            <li>
                <a href="#/about">About us</a>
            </li>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <seeker-tpl></seeker-tpl>
        </div>
    </div>
</nav>
</div>
