<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron">
            <p>Your query does not match any genes in the database. Note that the query must:</p>
            <ul>
                <li>have alphanumeric values, at least one of which must be a letter</li>
                <li>be at least three characters long</li>
                <li>valid <strong>Gene</strong> Ensembl identifier. For this cases, you have to give the exact identifier.</li>
            </ul>
        </div>
    </div>
</div>