<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron">
            <p>Your query does not match any genes in the database. Note that the query must:</p>
            <ul>
                <li>valid <strong>Gene name</strong> or <strong>Gene identifier</strong>. For this cases, you have to
                    give the exact name/identifier based on the our current gene datasets:
                    <ul>
                        <li>e.g. ENSG00000099904
                            <a href="http://www.ensembl.org" target="_blank">Ensembl</a> gene id</li>
                        <li>e.g. 27037 EntrezGeneID from
                            <a href="https://www.ncbi.nlm.nih.gov/refseq" target="_blank">RefSeq</a></li>
                        <li>e.g. Q8NCW6 <a href="http://www.uniprot.org" target="_blank">UniProt</a> entry</li>
                        <li>e.g. RNF215 gene name</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>