<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron">
            <p>Your query does not match any genes in the database. Note that the query must:</p>
            <ul>
                <li>valid <strong>Gene name</strong> or <strong>Gene identifier</strong>. For this cases, you have to
                    give the exact name of identifier based on the our datasets:
                    <ul>
                        <li><a href="http://www.ensembl.org" target="_blank">Ensembl</a></li>
                        <li><a href="https://www.ncbi.nlm.nih.gov/refseq" target="_blank">RefSeq</a></li>
                        <li><a href="http://www.uniprot.org" target="_blank">UniProt</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>