<div class="row clearfix">
    <div class="col-md-4 column">
        <h2>APPRIS Database</h2>
        <p>Access annotations for the species annotated in the database via gene name or Ensembl id.
        </p>
        <a class="btn btn-primary" href="#/database">Access the web database</a>
    </div>
    <div class="col-md-4 column">
        <h2>APPRIS WebServer</h2>
        <p>Annotate splice isoforms for vertebrate genes that are not in the APPRIS Database.
        </p>
        <a class="btn btn-primary" href="#/server">Run the web server</a>
    </div>
    <div class="col-md-4 column">
        <h2>APPRIS WebServices</h2>
        <p>Annotate genes and transcripts automatically and access queries through RESTful web services.
        </p>
        <a class="btn btn-primary" ng-href="http://apprisws.bioinfo.cnio.es">Go to the API inteface</a>
    </div>
</div>