<div class="row clearfix">
    <div class="col-md-4 column">
        <h2>TRIFID</h2>
        <p>Assessing the functional relevance of splice isoforms.
        </p>
        <a class="btn btn-primary" href="#/help/methods/trifid">Access the TRIFID documentation</a>
    </div>

    <div class="col-md-4 column">
        <h2>Important Isoforms</h2>
        <p>View data on functionally important alternative splicing events in human.
        </p>
        <a class="btn btn-primary" href="https://apprisws.bioinfo.cnio.es/functional_isoforms/">View key isoform data</a>
    </div>

    <div class="col-md-4 column">
        <h2>APPRIS/MANE matches</h2>
        <p>APPRIS principal isoforms and MANE Select transcripts.
        </p>
        <a class="btn btn-primary" href="https://apprisws.bioinfo.cnio.es/appris_mane_matches/">View APPRIS/MANE matches</a>
    </div>
</div>
